$primary-color: rgb(7, 224, 54);

$primary-font: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$secondary-font: 'Courier New', Courier, monospace;

$media-desktop: 1280px;
$media-tablet: 768px;
$media-mobile: 400px;