$primary-color: rgb(177, 177, 177);;

$primary-font: 'Libre Baskerville', serif;
$secondary-font: 'Courier New', Courier, monospace;

$media-desktop: 1280px;
$media-tablet: 768px;
$media-mobile: 400px;