@import '../../sass/config.scss';
@import '../../sass/utilities.scss';

.home {
  @include background;
  background: radial-gradient(circle at left, #020202 0%, #fdfdfd 50%);
  overflow: hidden;
  filter: drop-shadow(0 0 10px rgb(0,0,0));
  justify-content: initial;
  flex-direction: initial;
  align-items: initial;

  nav {
    position: absolute;
    z-index: 100;
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    div {
      padding:30px;

      .links {
        color:black;
        text-decoration: none;
        font-family: $primary-font;
      }

      .links:hover {
        text-decoration: underline;
      }
    }

    div:nth-child(2) {
      padding-right: 150px;
    }
  }

  section {
    height: 100%;
    width:100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    h1 {
      font-size: 3rem;
      font-family: $primary-font;
      font-weight: bolder;
      -webkit-text-stroke: 2px black;
      -webkit-text-fill-color: white;
      letter-spacing: 0.25rem;
      margin-right:150px;
      transition: all 2.5s ease;
    }

    h1:hover {
      font-size: 3.5rem;
      -webkit-text-fill-color: $primary-color;
    }

    h6 {
      font-size: 1.25rem;
      margin-right: 150px;
      font-family: $primary-font;
    }
  }
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.effects {
  $total: 200;
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgb(0,0,0);
  border-radius: 50%;

  @for $i from 1 through $total {
    $random-x: random(1000000) * 0.0001vw;
    $random-offset: random_range(-100000, 100000) * 0.0001vw;
    $random-x-end: $random-x + $random-offset;
    $random-x-end-yoyo: $random-x + ($random-offset / 2);
    $random-yoyo-time: random_range(30000, 80000) / 100000;
    $random-yoyo-y: $random-yoyo-time * 100vh;
    $random-scale: random(10000) * 0.0001;
    $fall-duration: random_range(10, 30) * 1s;
    $fall-delay: random(30) * -1s;

    &:nth-child(#{$i}) {
      opacity: random(10000) * 0.0001;
      transform: translate($random-x, -10px) scale($random-scale);
      animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
    }

    @keyframes fall-#{$i} {
      #{percentage($random-yoyo-time)} {
        transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
      }
      
      to {
        transform: translate($random-x-end-yoyo, -100vh) scale($random-scale);
      }
    }
  }
}